
<script>
var memberSelect = document.getElementById('id_member_type');
memberSelect.onchange = function(){
    selected = memberSelect.options[memberSelect.selectedIndex].text.toLowerCase();
    rows = document.getElementById('member_type_info').rows;
    for(x=0; x<rows.length; x+=1){
    rows[x].classList.add('hidden');
    }
    document.getElementById(selected+'_info').classList.remove('hidden');
};
</script>
<script>
function getKota(){
    var selected_provinsi='';
    var myselect = document.getElementById("id_provinsi")
    selected_provinsi=myselect.options[myselect.selectedIndex].text;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{% csrf_token %}",
    }
    });
    $.ajax({url: '/wilayah/kota/'+ selected_provinsi +'/', success: function(result){
    var options = '';
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    document.getElementById('id_kota').innerHTML=options;
    }});
}
</script>
<script>
function getKecamatan(){
    var selected_kota='';
    var myselect = document.getElementById("id_kota")
    selected_kota=myselect.options[myselect.selectedIndex].value;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{% csrf_token %}",
    }
    });
    $.ajax({url: '/wilayah/kecamatan/'+ selected_kota +'/', success: function(result){
    var options = '';
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    document.getElementById('id_kecamatan').innerHTML=options;
    }});
}
</script>
<script>
function getKelurahan(){
    var selected_kecamatan='';
    var myselect = document.getElementById("id_kecamatan")
    selected_kecamatan=myselect.options[myselect.selectedIndex].value;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{% csrf_token %}",
    }
    });
    $.ajax({url: '/wilayah/kelurahan/'+ selected_kecamatan +'/', success: function(result){
    var options = '';
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    document.getElementById('id_kelurahan').innerHTML=options;
    }});
}
</script>
      