{% extends "membership/base.html" %}
  {% block title %}
    <title>Member Area | kei-partner.com</title>
  {% endblock %}
  {% block content %}
  {% include "membership/header.html" %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="#">KEI-Partner</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span> <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Store</a></li>
            <li><a href="#">Blog</a></li>
            <li class="active"><a href="#">Member Area</a></li>
            <li><a href="#">Business Oportunity</a></li>
          </ul>
          {% include "storefront/wishlist_header.html" %}
          {% include "storefront/cart_header.html" %}  
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container container-form container-bg"><!--Container#1 -->
       <div class="row" style="padding: 0; margin: 0"><!-- Row#1 of Container#1 -->
         <div class="col-md-9 col-xs-12" style="padding: 0 20px">
           <div class="row"  style="padding: 0; margin: 0">
            <div class="col-xs-6" style="padding:0 5px;text-align:center">
                <div class="col-xs-12 card-bottom effect5 card-pointer card-md" style="padding:0 0 10px 0">
                      <h3 id="cards7-title" class="title" style="color:#333">
                          {% if request.user == user %} MY CARD
                          {% else %} CARD {% endif %}
                      </h3>
                      {% if request.user == user %} 
                      <h5 class="titlesm cool" style="text-align:center; margin:0;"><sub>*(barcode berisi link store anda)</sub>
                      </h5>
                      {% else %}{{ request.scheme }}://{{ request.get_host }}{{ user.member.get_absolute_url }}{% endif %}
                      <img  id="saran-4" style="margin:5px 0"  width="100%" height="auto" src="/media/pictures/ex-member-card.png">
                </div>
            </div>
            <div class="col-xs-6" style="padding:0 5px;text-align:center">
                <div class="col-xs-12 card-bottom effect5 card-pointer card-md" style="padding:0 20px 20px 20px">
                      <h3 id="cards7-title" class="title" style="color:#333"> 
                          {% if request.user == user %} MY ACCOUNT
                          {% else %} DETAIL {% endif %}
                      </h3>
                      <h6 class="titlesm cool" style="text-align:left;">
                        Kode Referal :
                      </h6>
                      <h5 style="text-align:left; margin:0;">                  
                          {{ user.member.referal_code }}
                      </h5>
                      <h6 class="titlesm cool" style="text-align:left;">
                        Nama Sponsor :
                      </h6>
                      <h5 style="text-align:left; margin:0;">
                        {{ user.member.sponsor.username }}
                      </h5>
                      <h6 class="titlesm cool" style="text-align:left;">
                        Nomor Rekening :
                      </h6>
                      <h5 style="text-align:left; margin:0;">
                        BRI - 0090909990990
                      </h5>
                      <h6 class="titlesm cool" style="text-align:left;">
                        Alamat E-mail :
                      </h6>
                      <h5 style="text-align:left; margin:0;">
                        {{ user.email }}
                      </h5>
                      <h6 class="titlesm cool" style="text-align:left;">
                        Alamat Rumah :
                      </h6>
                      <h5 style="text-align:left; margin:0;">
                        Jl. Bandengan, Blok A1 No. 18 Kec. Jatibening Kel. Jatijajar Kota Tangerang - Banten
                      </h5>
                </div>
            </div>          
          </div>
          <div class="row"  style="padding: 0; margin: 0">
            {% if request.user == user %}
                <div class="col-xs-6" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-md" style="padding:0 15px">
                    <h4 id="cards7-title" class="title" style="color:#333"> MY BANNER</h4>
                      <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="/media/pictures/kost6.jpg">

                        <h5 id="cards7-title" class="title" style="color:#333"> Kumpulan Banner Untuk Promosi Siap Pakai</h5>
                  </div>
                </div>
            {% endif %}
            <div class="col-xs-6" style="padding:0 5px;text-align:center">
              {% if user.member.qrcode %}
              <div class="col-xs-12 card-bottom effect5 card-pointer card-md" style="padding:0 15px">
                    <img  id="saran-4" style="margin:0" width="160px" height="auto" src="/{{ user.member.qrcode }}">
              {% else %}
              <div class="col-xs-12 card-bottom effect5 card-pointer card-md" style="min-height:0; padding:0 15px">
              {% endif %}
                <h4 id="cards7-title" class="title" style="color:#333">         
                    {% if request.user == user %} MY STORE
                    {% else %} STORE {% endif %}
                </h4>
                {% if request.user == user %}
                <p>Link Toko Replika Anda adalah :
                {% else %}
                <p>Link Toko Replika {{ user.username }} adalah :{% endif %}
                    <br>https://{{user.username}}.kei-partner.com/store</p> 
              </div>
            </div>
          </div>
          {% if request.user == user %}
              <div class="row"  style="padding: 0; margin: 0">
                <div class="col-xs-6" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-sm" style="padding:0 0 10px 0">
                    <h4 id="cards7-title" class="title" style="color:#333"> MY SELLING</h4>

                        <h5 id="cards7-title" class="title" style="color:#333">Grafik Hasil Penjualan dari Toko Replika Anda</h5>
                  </div>
                </div>
                <div class="col-xs-6" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-sn" style="padding:0 0 10px 0">
                    <h4 id="cards7-title" class="title" style="color:#333"> MY REWARD</h4>

                        <h5 id="cards7-title" class="title" style="color:#333">Cek Reward Perekrutan, Penjualan, dan Bonus.</h5>
                  </div>
                </div>
              </div>
              <div class="row"  style="padding: 0; margin: 0">
                <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-sm" style="padding:0 0 10px 0">
                    <h4 id="cards7-title" class="title" style="color:#333"> MY POIN</h4>
                        <h5 id="cards7-title" class="title" style="color:#333">Cek POIN Reward yang Anda Dapatkan</h5>
                  </div>
                </div>
                <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-sm" style="padding:0 0 10px 0">
                    <h4 id="cards7-title" class="title" style="color:#333"> MY CUSTOMER</h4>
                        <h5 id="cards7-title" class="title" style="color:#333">Data Kostumer Toko Replika Anda</h5>
                  </div>
                </div>
                <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-sm" style="padding:0 0 10px 0">
                    <h4 id="cards7-title" class="title" style="color:#333"> MY EBOOK</h4>
                        <h5 id="cards7-title" class="title" style="color:#333">Download Ebook Untuk Meningkatkan Penjualan</h5>
                  </div>
                </div>
                <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect5 card-pointer card-sm" style="padding:0 0 10px 0">
                    <h4 id="cards7-title" class="title" style="color:#333"> TRACKING</h4>
                        <h5 id="cards7-title" class="title" style="color:#333">Lacak Pengiriman Barang ke Kostumer Anda</h5>
                  </div>
                </div>
              </div>
            {% endif %}
        </div> 
         <div name="socio-box" class="col-xs-12 col-md-3" style="padding: 0 20px 0 0">
           <div class="col-xs-12 card-bottom card-md effect5" style="min-height:auto;padding:0 0 20px 0">
             <div name="prf-header" class="col-xs-12" style="padding:10px 0">
              <div name="prf-ava" class="col-xs-12" style="text-align: center">
                <img id="ava" src="/media/pictures/indah.jpg" alt="Avatar" class="photo-user avatar avatars" style="
               -webkit-filter: none;width:120px;height:120px;border-radius:85px; padding:5px"/></div>
              <div name="prf-title" class="col-xs-12">
                <div style="margin:0;display:block;padding:0">
                  <h4 class="title" style="margin:0">{{ user.member.get_full_name | title }}</h4>
                  <h5 class="title" style="margin:5px 0">{{ user.member.get_member_type_display | title }}</h5></div>
              </div>
            </div>

            <div class="col-xs-12 card-bottom " style="background-color:transparent;margin-bottom:10px;display:block;height:auto;padding:0">
              <div class="col-xs-12 card-bottom" style="margin-bottom:10px;display:block;height:auto;padding:0">
                <h4 class="title" style="margin:10px 0">Smart Motto</h4>
                <p style="text-align: center; padding: 0 5px">
                "Quia dolores omnis minus nemo nostrum. Est veritatis deleniti ad in ullam nesciunt velit voluptatum. Quisquam incidunt ipsa amet voluptate. Minus iste cumque reiciendis vel nihi"
                </p>
              </div>
              <div class="col-xs-12 card-bottom" style="margin-bottom:10px;display:block;height:auto;padding:0">
                <h4 class="title" style="margin:10px 0">Media Sosial</h4></div>
                <div class="col-xs-4 detail-box social" style="background-color:#034c4c">
                  <h2 class="white" style="text-align:center;padding:0;margin:0"><span class="fa fa-instagram"></span></h2></div>
                <div class="col-xs-4 detail-box social" style="background-color:#034c4c">
                  <h2 class="white" style="text-align:center;padding:0;margin:0"><span class="fa fa-facebook"></span></h2></div>
                <div class="col-xs-4 detail-box social" style="background-color:#034c4c">
                  <h2 class="white" style="text-align:center;padding:0;margin:0"><span class="fa fa-twitter"></span></h2></div>
              </div>
              <div class="col-xs-12 card-bottom" style="background-color:transparent;margin-bottom:10px;display:block;height:auto;padding:0">
                <h4 class="title" style="margin:10px">Kontak</h4></div>
                <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 18px;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0">LINE</h5></div>
                <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 18px 0 0;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0; padding-left: 10px">: @yogashopas</h5></div>
                <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 18px;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0">WhatsApp</h5></div>
                <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 18px 0 0;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0; padding-left: 10px">: 0812544645</h5></div>
                <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 18px;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0">BBM</h5></div>
                <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 18px 0 0;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0; padding-left: 10px">: 10D567</h5></div>
                <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 18px;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0">Phone/SMS</h5></div>
                <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 18px 0 0;min-height:0;margin:5px 0">
                  <h5 class="desc cool" style="margin:0; padding-left: 10px">: +6281383613003</h5></div>
              </div></div></div></div></div></div>

{% include "membership/footer.html" %}
{% include "membership/script.html" %}
{% endblock %}
