{% extends "membership/base.html" %}
  {% block title %}
    <title>{{ user.member.get_full_name | title }} | kei-partner.com</title>
  {% endblock %}
  {% block content %}
    <div class="container container-form container-bg" style="padding-bottom: 0"><!--Container#1 -->
       <div class="row" style="padding: 0; margin: 0"><!-- Row#1 of Container#1 -->
         <div class="col-xs-12 col-md-2" style="padding: 0; min-height: 600px; max-height: 600px; overflow-y: auto">
          {% include 'membership/sidebar_profile.html' %}
        </div>
         <div class="col-md-10 col-xs-12" style="padding: 0 15px">
           <div class="col-xs-12" style="padding: 0; background: #fff; min-height: 600px;">
               <div class="row" style="margin: 0;">
                <div class="hidden-xs col-sm-10" style="padding: 0 15px">
                  <h2>Profil dan Data Akun</h2>
                </div>
                {% if user == request.user %}
                <div class="hidden-xs col-sm-2" style="padding: 0 15px; text-align: right">
                    <a href="{{ link_edit }}"><h3 style="width: 100%;" class="btn btn-primary">Ubah Profil <span class="fa fa-edit"></span></h3></a>
                </div>
                {% endif %}
              </div>
                                
              <div style="width: 100%; border-top: 1px solid #ccc; display: block; min-height: 20px; margin-top:5px"></div>
              <div class="col-xs-12" style="padding: 0">
                <div class="col-xs-12 card-bottom" style="padding:0 25px; margin-bottom:0px;display:block;height:auto">
                  <div class="row" >
                    <div class="col-xs-12 col-sm-5" style="min-height:0;margin:5px 0">
                      <div class="row" style="margin: 0">
                        <div class="col-xs-12" style="padding: 0">
                          <h4 class="title" style="margin:10px 0;  text-align: left">Sponsor</h4>
                          <h5 class="desc cool" style="margin:10px 0">
                            <a href="{{ link_sponsor }}">
                              <span class="fa fa-group"></span> {{ user.member.sponsor.get_full_name | title }}
                            </a>
                          </h5>
                        </div>
                      </div>
                      <div class="row" style="margin: 0">
                        <div class="col-xs-12" style="padding: 0">
                          <h4 class="title" style="margin:10px 0;  text-align: left">Link Referal</h4>
                        </div>
                        <div class="col-xs-12">
                        </div>
                        <div class="col-xs-11" style="padding-right:0">
                          <input id="ref-link-1" readonly type="text" value="{{ request.scheme }}://{{ default_host }}{% url 'membership:pre_register' %}{{ user.member.referal_code}}">
                        </div>
                        <div class="col-xs-1" style="padding-left:0">
                            <p class="btn btn-primary btn-xs">COPY</p>
                        </div>
                      </div>
                      <div class="row" style="margin: 0">
                        <div class="col-xs-12">
                          <h5 class="desc cool" style="margin:0">
                              Alternatif :
                          </h5>
                        </div>
                        <div class="col-xs-11" style="padding-right:0">
                          <input id="ref-link-2" readonly type="text" value="{{ request.scheme }}://{{ user.username }}.{{ default_host }}{% url 'membership:pre_register' %}">
                        </div>
                        <div class="col-xs-1" style="padding-left:0">
                          <p class="btn btn-primary btn-xs">COPY</p>
                        </div>
                      </div>
                      <div class="row" style="margin: 0">
                        <div class="col-xs-12" style="padding: 0">
                          <h4 class="title" style="margin:10px 0;  text-align: left">Link Toko Replika</h4>
                        </div>
                        <div class="col-xs-12">
                          <h5 class="desc cool" style="margin:0">
                          </h5>
                        </div>
                        <div class="col-xs-11" style="padding-right:0">
                          <input id="ref-link-1" readonly type="text" value="{{ request.scheme }}://{{ default_host }}{% url 'storefront:product_all' %}{{ user.member.referal_code}}">
                        </div>
                        <div class="col-xs-1" style="padding-left:0">
                            <p class="btn btn-primary btn-xs">COPY</p>
                        </div>
                      </div>
                      <div class="row" style="margin: 0">
                        <div class="col-xs-12">
                          <h5 class="desc cool" style="margin:0">
                            Alternatif :
                          </h5>
                        </div>
                        <div class="col-xs-11" style="padding-right:0">
                          <input id="ref-link-2" readonly type="text" value="{{ request.scheme }}://{{ user.username }}.{{ default_host }}{% url 'storefront:product_all' %}">
                        </div>
                        <div class="col-xs-1" style="padding-left:0">
                          <p class="btn btn-primary btn-xs">COPY</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-5" style="">
                      {% if user == request.user %}
                          <div class="col-xs-12 col-lg-12 card-bottom" style="margin-bottom:0px;display:block;height:auto">
                            <h4 class="title" style="margin:10px 0;  text-align: left">Data Pribadi</h4>
                              <div class="row" style="margin: 0">
                                <div class="col-xs-12" style="min-height:0;margin:5px 0; padding:0">
                                  <h5 class="desc cool" style="margin:0">Alamat KTP : </h5></div>
                                <div class="col-xs-12" style="min-height:0;margin:5px 0; padding:0">
                                  <h5 class="desc" style="margin:0; padding:0">{{ user.member.get_ktp_address }}</h5></div>
                              </div>
      
      
                              <div class="row" style="margin: 0">
                                <div class="col-xs-12" style="min-height:0;margin:5px 0; padding:0">
                                  <h5 class="desc cool" style="margin:0">Alamat Rumah :</h5></div>
                                <div class="col-xs-12" style="min-height:0;margin:5px 0; padding:0">
                                  {% if user.member.get_home_address != user.member.get_ktp_address %}
                                  <h5 class="desc" style="margin:0; padding:0">{{ user.member.get_home_address }}</h5>
                                  {% else %}
                                  <h5 class="desc" style="margin:0; padding:0">Sama dengan alamat KTP</h5>
                                  {% endif %}
                                </div>
                              </div>
                            
                              <div class="row" style="margin: 0">
                                  {% if user.member.ktp_photo%}
                                    <div class="col-xs-12 col-lg-6" style="min-height:0;margin:5px 0; padding:0">
                                      <h5 class="desc cool" style="margin:0">Foto KTP :</h5>
                                        <div style="margin:5px 0; background-repeat:no-repeat; background-size:100%; height:200px;overflow:hidden; background-position: top center; background-image: url('{{ user.member.get_ktp_url }}')">
                                      </div>
                                    </div>
                                  {% endif %}
                                  
                                  {% if user.member.bank_book_photo %}
                                    <div class="col-xs-12 col-lg-6" style="min-height:0;margin:5px 0; padding:0">
                                      <h5 class="desc cool" style="margin:0">Foto Buku Tabungan :</h5>
                                        <div style="margin:5px 0; background-repeat:no-repeat; background-size:100%; height:200px;overflow:hidden; background-position: top center; background-image: url('{{ user.member.get_bank_url }}')">
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                          </div>      
                      {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-2" style="min-height:0;margin:5px 0;">
                      <div class="row" style="margin: 0">
                        <div class="col-xs-12" style="padding: 0">
                          <h4 class="title" style="margin:10px 0 0 0; padding: 0; text-align: center">Toko Replika</h4>
                          <p class="desc cool" style="margin: 0; text-align: center">Scan Barcode</p>
                        </div>
                        <div class="col-xs-12" style="padding: 0; text-align: center">
                          <img src="/{{ user.member.qrcode }}" style="width: 100%; height: auto; max-width: 220px;">
                          <p class="btn btn-primary" onclick="window.open('/{{ user.member.qrcode }}')" style="width: 100%; height: auto; max-width: 220px;">SAVE</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>

{% include "membership/footer.html" %}
{% include "membership/script.html" %}
{% endblock %}
