
<div class="col-xs-12 card-bottom card-md" style="background: #fff;  min-height: 600px; max-height: 600px; padding:20px; margin:0">
    <div name="prf-header" class="col-xs-12" style="padding:10px 0">
        <div name="prf-ava" class="col-xs-12" style="text-align: center">

        <img id="ava" 
        src="
            {% if user.member.profile_photo %}
            {{ user.member.get_profile_photo_url }}
            {% else %}
            /media/pictures/user.gif
            {% endif %}
            " 
        alt="Avatar" class="photo-user avatar avatars" style="
        -webkit-filter: none;width:90px;height:90px;border-radius:85px; padding:5px"/></div>
        <div name="prf-title" class="col-xs-12">
        <div style="margin:0;display:block;padding:0">
            <h4 class="title" style="margin:0">{{ user.member.get_full_name | title }}</h4>
            <h5 class="title" style="margin:5px 0">{{ user.member.get_member_type_display | title }}
            </h5></div>
        <div style="margin:0;display:block;padding:0">
                        
            <h6 class="title" style="margin:0">Status Member :
            {% if user.member.is_member_activated %}
                Sudah Diaktifkan
            {% else %}
                Belum Diaktifkan
            {% endif %}
            </h6></div>
        </div>
    </div>

    <div class="col-xs-12 card-bottom " style="background-color:transparent;margin-bottom:0px;display:block;height:auto;padding:0">
        {% if user.member.smart_motto %}
        <div class="col-xs-12 card-bottom" style="margin-bottom:10px;display:block;height:auto;padding:0">
                        
            <h4 class="title" style="margin:10px 0">Smart Motto</h4>
            <p style="text-align: center; padding: 0 5px">
            {{ user.member.smart_motto }}
            </p>
        </div>
        {% endif %}
            <div
            {% if user.member.instagram_address %}
            class="col-xs-4 detail-box social"
            style="background-color:#634334"
            {% else %}
            class="col-xs-4 detail-box social-disabled"
            style="background-color:#888888"
            {% endif %}>
            <h2 class="white" style="text-align:center;padding:0;margin:0"><span class="fa fa-instagram"></span></h2></div>                      
        <div
        {% if user.member.facebook_address %}
            class="col-xs-4 detail-box social"
            style="background-color:#3b5998"
        {% else %}
            class="col-xs-4 detail-box social-disabled"
            style="background-color:#888888"
        {% endif %}>
            <h2 class="white" style="text-align:center;padding:0;margin:0"><span class="fa fa-facebook"></span></h2></div>
        
        <div
        {% if user.member.twitter_address %}
            class="col-xs-4 detail-box social"
            style="background-color:#0084b4"
        {% else %}
            class="col-xs-4 detail-box social-disabled"
            style="background-color:#888888"
        {% endif %}>
            <h2 class="white" style="text-align:center;padding:0;margin:0"><span class="fa fa-twitter"></span></h2></div>
            {% if user == request.user %}
            <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <a href="{{ link_edit }}"><h3 style="width: 100%;" class="btn btn-primary">Ubah Profil <span class="fa fa-edit"></span></h3></a>
            </div>
            <div class="col-xs-12" style="min-height:0;margin:5px 0">
                <ul class="nav nav-pills nav-stacked">
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="{% url 'order:history' %}">My Order</a>
                </li>
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="#">My Selling</a>
                </li>
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="#">My Reward</a>
                </li>
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="#">My Poin</a>
                </li>
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="#">My Costumer</a>
                </li>
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="#">My Ebook</a>
                </li>
                <li class="bg-info" style="margin: 4px 0; text-align: center">
                    <a href="#">Tracking</a>
                </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
             