{% extends "membership/base.html" %}
{% load int_to_rupiah int_to_kilogram%}
  {% block title %}
    <title>Store | kei-partner.com</title>
  {% endblock %}
  {% block content %}
    <script>
  
        function setHeight(img){
          img.style.minHeight = '0';
          if(window.innerWidth>767){
            if(img.classList.contains("main-photo") != false){
              img.style.maxHeight = '440px';
            } else {
              img.style.maxHeight = '140px';
            }
          } else {
            if(img.classList.contains("main-photo") != false){
              img.style.maxHeight = '140px';
            } else {
              img.style.maxHeight = '110px';
            }
          }
          img.style.height = img.clientWidth+'px';
          img.style.backgroundSize='auto 100%';
          img.style.overflow='hidden';
          img.style.objectFit='cover';
        } 
    </script>
    <div class="container container-form container-bg">
      <section name="header">
        <div class="container"> 
        <div class="row"style="margin-top:0.5%">
          <div class="col-xs -12 col-lg-8" style="padding:0">
            <div class="col-xs-12 card-bottom card-md" style="margin:0 0 20px 0;display:block;">
              <section name="post-header">
                  <div class="hidden-xs col-md-12" style="border-bottom: 1px solid #ccc; padding: 20px; margin-bottom: 5px">
                      <h3 class="title" style="padding:10px;margin:0">{{ product.name | title }} 
                      </h3>
                  </div>
                  <div class="col-xs-12 main-photo-box">
                    <div class="col-xs-8">
                        <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                        src="{{ product.get_photo_url }}">
                    </div>
                    <div class="col-xs-2" style="padding: 0">
                      <div style="padding: 2px; background-color: rgb(131, 131, 131)">
                        <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                        src="{{ product.get_photo_url }}">
                      </div>
                      {% if product.photo_alt2 %}
                        <div style="padding: 2px; background-color: rgb(131, 131, 131)">
                          <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                          src="{{ product.get_photo_alt2_url }}">
                        </div>
                      {% endif %}
                      {% if product.photo_alt4 %}
                        <div style="padding: 2px; background-color: rgb(131, 131, 131)">
                          <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                          src="{{ product.get_photo_alt4_url }}">
                        </div>
                      </div>
                      {% endif %}
                    <div class="col-xs-2" style="padding: 0">
                      {% if product.photo_alt1 %}
                      <div style="padding: 2px; background-color: rgb(131, 131, 131)">
                        <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                        src="{{ product.get_photo_alt1_url }}">
                      </div>
                      {% endif %}
                      {% if product.photo_alt3 %}
                      <div style="padding: 2px; background-color: rgb(131, 131, 131)">
                        <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                        src="{{ product.get_photo_alt3_url }}">
                      </div>
                      {% endif %}
                      {% if product.photo_alt5 %}
                      <div style="padding: 2px; background-color: rgb(131, 131, 131)">
                        <img onLoad="setHeight(this)" class="photo-user photo-article main-photo" style="display:block;padding:5px; margin:0" 
                        src="{{ product.get_photo_alt5_url }}">
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-xs-12 main-photo-box">
                    <h5 class="title" style="text-align: left">
                        Deskripsi :</h5>
                        <p>{{ product.description | linebreaksbr }}</p>
                  </div>
              </section>

                <section name="post-footer">
                  <div class="hidden-xs col-md-12" style="border-top: 1px solid #ccc; padding: 20px">
                      <div class="col-xs-4">
                        {% if discounted_price != 0 %}
                          <h5 class="title hot" style="text-align:left;">
                            Harga Normal : <del>{{ product.price | int_to_rupiah }}</del> <br>
                          <sub>*({{ discount }}% Discount untuk {{ request.user.member.get_member_type_display }})</sub>
                          </h5>
                          <h5 class="title cool" style="text-align:left;">
                            Harga Diskon : {{ discounted_price | int_to_rupiah }}
                          </h5>
                        {% else %}
                          <h5 class="title cool" style="text-align:left;">
                            Harga Satuan : {{ product.price | int_to_rupiah }}
                          </h5>
                          <h5 class="title" style="text-align: left">
                              Berat Satuan : {{ product.unit_weight | int_to_kilogram}}</h5>
                        {% endif %}
                        {% if not is_in_wishlist %}
                        <div class="col-xs-12 col-lg-12" style="margin-bottom: 10px; padding: 0">
                          <form class="form" method="POST" id="formWishlist">
                              {% csrf_token %}
                            <input type="hidden" name="method" value="wishlist">
                            <button class="btn btn-danger" type="submit", form="formWishlis"
                              style="width:100%;margin:4px 0; padding: 6px; display: flex; justify-content: center">
                              Tambah ke Wishlist
                              <span class="glyphicon glyphicon-heart" style="font-size: 18px"></span>
                              <sup><span class="glyphicon glyphicon-plus" 
                                style="color: #45ff45; font-size: 8px;"></span></sup>
                            </button>
                          </form>
                          {% else %}
                          <p class="cool">Produk ditambahkan ke wishlist</p>
                        </div>
                        {% endif %}   
                      </div>
                      </div>
                      <div class="col-xs-8">
                        <h5 class="title cool" id="jumlahBayar" style="text-align:left;">
                          Jumlah Bayar : {{ product.price | int_to_rupiah }}
                        </h5>
                        <h5 class="title cool" id="jumlahBerat" style="text-align:left;">
                          Jumlah Berat : {{ product.unit_weight | int_to_kilogram }}
                        </h5>
                        <form class="form" method="POST" id="formQuantity">
                          {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-danger">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endif %}
                          {% csrf_token %}
                            <input type="hidden" name="method" value="cart">
                            <div style="display: flex; justify-content:baseline; align-items: baseline; flex-direction: row">
                                <h5 class="title" style="margin: 0">Banyaknya :</h5>
                                {{ form.quantity }}
                            </div>   
                        </form>
                        <button class="btn btn-primary" type="submit" form="formQuantity"
                          style="width:100%;margin:4px 0; padding: 6px; display: flex; justify-content: center">
                          Beli 
                          <span class="glyphicon glyphicon-shopping-cart" style="font-size: 18px"></span>
                          <sup><span class="glyphicon glyphicon-plus" 
                            style="color: #45ff45; font-size: 8px;"></span></sup>
                        </button>
                        <p class="hidden" id="productPrice">{{ product.price }}</p>
                        <p class="hidden" id="productWeight">{{ product.unit_weight }}</p>
                      </div>
                    </div>
                </section>
              </div>
          </div>
          <div class="hidden-xs col-lg-1"></div>
          {% if other_product %}
          <div class="col-xs-12 col-lg-3 card-bottom card-deck">
            <div class="col-lg-12" style="margin-top: 12px;">
                <h4 class="title" style="font-size:20px">Produk Menarik Lainnya</h4></div>
            <!-- ====================================================================================================================================== --> 
            {% for p in other_product %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12  card-bottom  card-sm"  style="margin-bottom:4%;padding:0 5px">
              <div class="col-xs-4" style="padding:0 2px">
                <img  id="saran-4" class="photo-user saran" onLoad="setHeight(this)" src="{{ p.get_photo_url }}"></div>
              <div class="col-xs-8" style="padding:15px">
                <h5 style="margin:0; word-wrap:break-word;" id="cards3-title" class="title">
                  <a href="{{ p.get_detail_url }}">{{ p.name | truncatewords:5 | title }}</a></h5>
                <h5 class="titlesm cool" style="text-align:center; margin:0;">
                Rp. {{p.price | int_to_rupiah}},-
                </h5>
                <p style="font-size: 80%; word-wrap:break-word;">
                  {{ p.description | truncatewords:5}}
                </p>
              </div></div>
            {% endfor %}
  <!-- ====================================================================================================================================== -->                      
            <a href="{% url 'storefront:product_all' %}"><button class="btn btn-primary" style="width: 100%">
              Lihat Lainnya
            </button></a>
          </div>
          {% endif %}
        </div></div></div></div>
  <!-- ====================================================================================================================================== -->
 
  <!-- ====================================================================================================================================== -->
          
          </div></div>
<script>
  function quantityChange(){
    quantity = $('#id_quantity').val();
    harga = $('#productPrice').text();
    berat = $('#productWeight').text();
    jumlahBayar = quantity*harga;
    jumlahBerat = quantity*berat;

    $('#jumlahBayar').text('Jumlah Bayar : Rp.'+jumlahBayar.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+',-');
    if(jumlahBerat<1000){
      $('#jumlahBerat').text('Jumlah Berat : '+jumlahBerat+' gram');
    } else {
      $('#jumlahBerat').text('Jumlah Berat : '+jumlahBerat/1000+'kg');
    }
  }
</script>
{% include "membership/footer.html" %}
{% include "membership/script.html" %}
{% endblock %}
